:root {
    --colour-background: #d6dee0;
    --colour-muted: rgb(145 145 145 / 50%);
    --colour-shadow: #9ca3af;
    --colour-highlight: rgb(0 0 0 / 50%);
    --colour-dark: #000000;
    --colour-debug-border: red;
    --colour-transparent: transparent;
}

body {
    font-size: 0.875rem;
    text-transform: uppercase;
    background-color: var(--colour-background);
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/home/web-dev-portfolio-bg-6.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;

    /* filter: blur(10px); */
}

header, footer {
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}
